data/raw/
data/interim/
data/processed/

__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

paper/*.aux
paper/*.log
paper/*.out
paper/*.bbl
paper/*.blg
paper/*.synctex.gz
paper/*.fdb_latexmk
paper/*.fls

.DS_Store

.pytest_cache/
